<!DOCTYPE html>
<html lang="en">
{% load static %} 
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EEP platform </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/eepp2_logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/eepp_white_logo.png' %}" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top z-999">
    <div class="container d-flex align-items-center">
      <img src="{% static 'assets/img/eepp2_logo.png' %}" alt="" width="100px" class="img-fluid rounded-circle">
      <h1 class="me-auto text-white"></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
     

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#team">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto"  href="{% url 'account:login' %}">Login</a></li>
          <li><a class="getstarted scrollto"  href="{% url 'account:signup' %}">Signup</a></li> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 z-1" data-aos="fade-up" data-aos-delay="200">
          <h1 class="z-1"> ONE-STOP Solutions For your Exit Exam Preparation  </h1>
          <h2>You know Exit Exam is on the way. If you dont pass it, No graduation, no jobs most importantly no degree. so get your hand dirty and prepare yourself for National Exit Exam Here!!! You have got this!</h2>
          
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img"  data-aos="zoom-in" data-aos-delay="200">
          <img  class="z-1" src="{% static 'assets/img/home_image.jpeg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= platform contents summary ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-4 col-md-4 col-6 d-flex flex-column  justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{questions}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">questions</h5>
          </div>

          <div class="col-lg-4 col-md-4 col-6 d-flex flex-column align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{tests}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">tests</h5>
          </div>

          <div class="col-lg-4 col-md-4 col-6 d-flex flex-column align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{models}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">models</h5>

          </div>

          <div class="col-lg-4 col-md-4 col-6 d-flex flex-column align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{students}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">students</h5> 

          </div>
          
          <div class="col-lg-4 col-md-4 col-6 d-flex flex-column align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{instructors}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">instructors</h5>

          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex flex-column  align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill rounded-circle text-bg-primary">{{modules}} </span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">modules</h5>
          </div>

          <div class="col-lg-4 col-md-4 col-6 d-flex  flex-column align-items-center justify-content-center">
            <div class="p-1">
              <span class="badge badge-pill  text-bg-primary rounded-circle"> {{courses}}</span>
            </div>
            <h5 class="fw-bold" style="color: #1a2c35;">courses</h5>
          </div>
          
        </div>

      </div>
    </section><!-- End platform Section -->

    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>This, ONE-STOP Exit Exam Preparation Platform was a little bit bulky to meet time schedule (1 mounth) and start off. But with passionate Gambella University 4<sup>th</sup> Year computer science students, it was such easy to make it possible. it actually need somehow talent and experience to acutalize and provide life for something that is in mind. This platform was not more than thought a month before. But now it's just ... breathing globally.
            
            we have created this platform mainly to help Graduate students preparing themselves for National Exit Exam even after they have left the campus without graduation. since exit exam is part of education curriculum, it always a exist and challenge for students. but if we set up a standard and common preparation platform beside other thing, it will not be a challenge any more.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/sale.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Saleamlak Msgan </h4>
                <span>Project Manager</span>
                <p>Passionate, self-learner Django Developer</p>
                <div class="social">
                    <a href="https://www.linkedin.com/in/salezhacker" class="twitter"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://t.me/saleZHacker/" class="telegram"><i class="bx bxl-telegram"></i></a>
                    <a href="https://github.com/saledream/" class="github"><i class="bx bxl-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/belete.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Belete Mulugeta</h4>
                <span></span>
                <p></p>
                <div class="social">
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/asmamaw.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Asmamaq Worku</h4>
                <span</span>
                <p></p>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/ayle.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ayle Shumba</h4>
                <span></span>
                <p></p>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/banchi.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Banchayehu Alemie</h4>
                <span></span>
                <p></p>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Negase Busha</h4>
                <span></span>
                <p></p>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/yenenesh.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Yenenesh Emito</h4>
                <span></span>
                <p></p>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Got an idea in your mind? want to have this platform in your campus? well well well, just tell us here</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Gambella University, Gambella </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>passionateSale@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0977475527</p>
              </div>
            </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="section-bg footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#signin">Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#signup">Signup</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Social Networks</h4>
            <p> You can join and follow us with</p>
            <div class="social-links mt-3">
              <a href="https://www.linkedin.com/in/salezhacker" class="twitter"><i class="bx bxl-linkedin"></i></a>
              <a href="https://t.me/saleZHacker/" class="telegram"><i class="bx bxl-telegram"></i></a>
              <a href="https://github.com/saledream/" class="github"><i class="bx bxl-github"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Group 2</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by saleZHacker</a>
      </div>
    </div>
  </footer>

  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>