
{% block content %}   
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Exam Title</th>
                    <th scope="col">Result</th>
                    <th scope="col">Total Marks</th>
                  </tr>
                </thead>
                <tbody>
                {% for key, values in models.items %}
                  <tr>
                    <td>{{key}}</td>
                    <td>{{values.0}}</td>
                    <td>{{values.1}}</td> 
                  </tr>
                {% empty %}
                
                {% endfor %}

                {% for key, values in tests.items %}
                <tr>
                  <td>{{key}}</td>
                  <td>{{values.0}}</td>
                  <td>{{values.1}}</td> 
                </tr>
              {% endfor %}
                </tbody>
              </table>

        </div>
        
      
    </div>
{% endblock %}