
{% extends 'accounts/index.html' %}
{% load widget_tweaks %}
{% block content %} 
<h1 class="text-center mt-5 text-primary">  <i class="fa fa-user-graduate fa-3x mx-1"></i> Change Password Form  </h1>
   <div class="container mt-5">
    
    <form method="post" class="">
        {% csrf_token %}
        <div class="row  d-flex flex-column justify-content-center align-items-center mx-auto py-5 my-auto shadow-lg p-3 mb-5 bg-tertiary rounded">
            <div class="form-group">
                <div class="input-group mb-3">
                    {% render_field form.old_password class="form-control" placeholder="old old_password" %}
                    
                </div>
                <div class="input-group mb-3">
                    {% render_field form.new_password1 class="form-control" placeholder="new password" %}
                    
                </div>
                <div class="input-group mb-3">
                    {% render_field form.new_password2 class="form-control" placeholder="confirm new password" %}
                    
                </div>
                
                {% for error in field.errors %} 
                   <span class="help-block">{{error}}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                   change password  
                </button>
              </div>
        </div>
       
    </form>
  
   </div>
  
{% endblock %}
