
{% extends 'accounts/index.html' %}
{% load widget_tweaks %}
{% block content %} 
{% load static %} 
{% block title %} change password {% endblock %} 
<h1 class="text-center mt-5 text-primary">  <img src="{% static 'assets/img/eepp_white_logo.png' %}" /> Change Password Form  </h1>
   <div class="container mt-5">
    
    <form method="post" class="">
        {% csrf_token %}
        <div class="row  d-flex flex-column justify-content-center mx-5 px-3 py-5 shadow-lg p-3 mb-5 bg-tertiary rounded">
                <div class="mb-3">
                    {% render_field form.old_password class="form-control" placeholder="old old_password" %}
                    
                </div>
                <div class="mb-3">
                    {% render_field form.new_password1 class="form-control" placeholder="new password" %}
                    
                </div>
                <div class="mb-3">
                    {% render_field form.new_password2 class="form-control" placeholder="confirm new password" %}
                    
                </div>
                
                {% for error in field.errors %} 
                   <span class="help-block">{{error}}</span>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary">
                   change password  

        </div>
       
    </form>
  
   </div>
  
{% endblock %}
