.card1{
    border: 1px solid white;
    border-top: none; 
    border-radius: 6px;
    border-top-left-radius: 10px;
    box-shadow: 2px 12px 5px 2px rgba(24, 22, 22, 0.34); 
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card1:hover{
     transform: scale(1.05);
     background: #3d5967;
      /* background: white;
      color:white; 
      */
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  box-shadow: 2px 12px 5px 2px rgba(24, 22, 22, 0.34);
}

aside {
  background: #3d5967;
  color:white; 
}